<section class="container">
  <h3 class="items-name">{{items.items_name}}</h3>
  <h4>items_description</h4>
   <h4>items_price</h4>
 

   {{#if loggedIn}}
  {{!-- <section class="flex-row justify-center">
    {{#each items.items as |items|}}
    {{> items-details}}
    {{/each}}
  {{!-- </section> --}} --
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}